#System files
.DS_Store
.nfs*

#Object files
*.o
*.a
*.d

#Executables
*.out
*.exe
*.html
cub3d

#Temp files
*.swp

#Debug files
.dSYM/

#VS Code directory
.vscode/
build

MLX42 Files
MLX42/CMakeFiles//*
MLX42/CMakeCache.txt