# System files
.DS_Store
.nfs*

# Object files
*.o
*.a
*.d

# Executables
*.out
*.exe
*.html
cub3d
Maps
MLX42/*
MLX42
MLX42/CMakeFiles/mlx42.dir/compiler_depend.make

# Temp files
*.swp

# Debug files
*.dSYM/

# VS Code directory
.vscode/
build
MLX42/CMakeCache.txt